addfips==0.2.2
bokeh==2.0.0
geopandas==0.3.0
geopy==1.21.0
jupyter==1.0.0
matplotlib==3.2.1
mapboxgl==0.10.2
numpy==1.18.2
pandas==1.0.3
pgeocode==0.2.1
plotly==4.5.4
requests==2.31.0
reverse-geocoder==1.5.1
seaborn==0.10.0
scipy==1.4.1
shapely==1.7.0
tqdm==4.43.0
us==1.0.0
uszipcode==0.2.4